/*
Cores
Verde Escuro: #065902;
Verde mais claro: #078c31;
Amarelo: #F2b705;
Vermelho Claro: #F03733;
Vermelho Escuro: #D90404;
Cinza Escuro: #404040;
Cinza Claro: #F7F7F7;
*/
/* Logo */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
    url("./../img/background-capa.jpg");
  background-position: center center;
  background-size: cover;
  border-top: 5px solid #078c31;
  /* clip-path */
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  position: relative;
  text-align: center;
}
header div#chamada {
  position: absolute;
  width: 100%;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Menus */
nav {
  width: 90%;
  height: 200px;
  margin: 10px auto;
}
nav div#logo {
  width: 200px;
  height: 200px;
  float: left;
  background-image: url("./../img/logo-pizzaria-fontenelle.png");
  background-size: contain;
  background-repeat: no-repeat;
}
nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  margin-top: 70px;
  height: 40px;
}
nav ul#esquerda {
  float: left;
}
nav ul#direita {
  float: right;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 100px;
  font-size: 90%;
}
nav ul li a#criar-conta {
  border: 1px solid #fff;
  padding: 9px 29px;
}
nav ul li a:hover {
  background-color: #f2b705;
  transition-duration: 0.8s;
}
nav ion-icon#icone-user {
  width: 45px;
  height: 45px;
  margin-left: 15px;
  margin-top: -12px;
  color: #fff;
}
nav ion-icon#icone-user:hover {
  color: #f2b705;
  cursor: pointer;
}
