/*
Tipografia
font-family: 'Fredericka the Great', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;

Cores
Verde Escuro: #065902;
Verde mais claro: #078c31;
Amarelo: #F2b705;
Vermelho Claro: #F03733;
Vermelho Escuro: #D90404;
Cinza Escuro: #404040;
Cinza Claro: #F7F7F7;
*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 16px;
}
h1,
h2,
h3 {
  font-family: "Fredericka the Great", cursive;
  text-align: center;
  text-transform: uppercase;
  color: #d90404;
}
h1 {
  font-size: 5em;
  font-weight: 200;
}
h2 {
  font-size: 3em;
  font-weight: 200;
}
h4,
h5,
h6 {
  font-family: "Pacifico", cursive;
  text-align: center;
  color: #f2b705;
}
p,
li,
a {
  font-family: "Open Sans", sans-serif;
}
/* Elementos do Header */
header div#chamada h1 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  text-shadow: 4px 6px 10px #000;
}

header div#chamada h4 {
  font-size: 2.5em;
  text-shadow: 4px 6px 10px #000;
  margin-bottom: 55px;
}

header div#chamada a {
  color: #fff;
  font-size: 1.1em;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 80px;
  border-radius: 50px;
  text-shadow: 4px 6px 10px #000;
  background-image: linear-gradient(
    rgba(7, 140, 49, 55) 0%,
    rgba(6, 89, 2, 35) 60%,
    rgba(6, 89, 35) 100%
  );
}
